<p>account-list works!</p>

<ul class="accounts">
    <li *ngFor="let account of accounts$ | async"
      [class.selected]="account.id === selectedId">
      <a [routerLink]="[account.id]">
        <span class="badge">{{ account.id }}</span>{{ account.name }}
      </a>
    </li>
  </ul>

  <router-outlet></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
